<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @term.name %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @term.reason %>
</p>

<p>
  <strong>Day:</strong>
  <%= @term.day %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @term.hour %>
</p>

<%= link_to 'Edit', edit_term_path(@term) %> |
<%= link_to 'Back', terms_path %>
