<h1>Listing proposals</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Term</th>
      <th>State</th>
      <th>Reason</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @proposals.each do |proposal| %>
      <tr>
        <td><%= proposal.term %></td>
        <td><%= proposal.preferred ? "preferred" : "not preferred" %></td>
        <td><%= proposal.reason %></td>
        <td><%= link_to 'Show', proposal %> 
        <%= link_to 'Edit', edit_proposal_path(proposal) %> 
        <%= link_to 'Destroy', proposal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proposal', new_proposal_path %>


<h1>Your matches</h1>

<% Subject.all.each do |s| %>
  <% to_give = current_user.to_give(s) %>
  <% if to_give %>
    <% s.match(current_user).each do |match| %>
      <%= "Found #{match.term} with #{match.user}" -%> 
      <% if to_give.accepted %>
        <% if match.accepted == to_give %>
          Terms exchenaged successfully!
        <% else %>
          (waiting for the other side acceptance...) <%= button_to "cancel", cancel_proposal_path(to_give), method: :post -%>
        <% end %>
      <% else %>
        <%= form_tag accept_proposal_path(to_give) do -%>
          <%= hidden_field_tag :accepted_id, match.id %>
          <%= submit_tag "accept" -%>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
