<h1>Listing proposals</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Term</th>
      <th>Reason</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @proposals.each do |proposal| %>
      <tr>
        <td><%= proposal.term %></td>
        <td><%= proposal.reason %></td>
        <td><%= link_to 'Show', proposal %> 
        <%= link_to 'Edit', edit_proposal_path(proposal) %> 
        <%= link_to 'Destroy', proposal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proposal', new_proposal_path %>
